RewriteEngine On
#ambiente dev
RewriteBase /php-public-samples/api

# Se o arquivo ou diretório existe, não reescreve
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Se não existir, envia tudo para index.php
RewriteRule ^(.*)$ index.php [QSA,L]